.caixa {
    border: 1px solid black;
    background-color: #d0d0d0;
}

.menu {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.menu .item_menu {
    background-color: #d0d0d0;
    margin-top: 3px;
    margin-bottom: 3px;
}


.btn: hover {
    background-color: #c0c0c0;
}

.btn.sucess {
    background-color: #0080000;
    color: white;

}

{
    .btn.sucess :hover {}
 }